<section once="" class="cid-qUjv9F7QLr" id="footer7-9">
  <div class="container">
    <div class="media-container-row align-center mbr-white">
      <div class="row row-links">
        <p style="margin-bottom: 15px; font-weight: bold;">The Circle, presented by: Giede van Gils, Youri van Boeckholtz, Whitney Cheung, Thomas Lucas, Koen Kamman, Bram van de Griend, Mark de Jong, Justin Kannekens, Mika Krooswijk, Tolga Elbir, Dogan Atak, Koen Damme en Quocsy Luong</p>
      </div>
      <div class="row social-row">
        <div class="social-list align-right pb-2">

        <div class="soc-item">
          <a href="/home" target="_blank">
            <img src={{logoLocation}} style="height: 25px; width: 25px;">
          </a>
        </div>

        <div class="soc-item">
            <a href="https://github.com/JobKlimop/TheCircle-Web/" target="_blank">
              <span class="socicon-github socicon mbr-iconfont mbr-iconfont-social"></span>
            </a>
        </div>
      </div>

      </div>
      <div class="row row-copirayt">
        <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
          The Circle - 2018
        </p>
      </div>
    </div>
  </div>
  
</section>
