<section class="cid-qUjuWVoItm" id="video3-7">
  <figure class="mbr-figure align-center container">
    <div class="one">
      <div class="video-block" style="width: 100%;">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uNCr7NdOJgw?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="two">
      <h2 style="margin-top: 20px; color: white">TEST</h2>
      <h3 class="mbr-text mbr-fonts-style display-7" style="color: white">Insert random title for a stream</h3>
      <p class="tekst" style="color: white">There are some amazing smaller broadcasters on The Circle, and we want these rising stars to have an opportunity to showcase what they're all about. That's where The Circle Partner Spotlight comes in. Every week we choose an up-and-coming broadcaster for some guaranteed front page and social media exposure and help them share their talents with a wider audience.</p>
      <p class="tekst" style="color: white"> Come watch this week's pick — TEST!</p>
    </div>
  </figure>

</section>
<section class="features2 cid-qUjusC35Uz" id="features2-5">
  <div class="container">
    <div class="media-container-row">
      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-wrapper">
          <div class="card-img">
            <img src="../../assets/img/video.jpg">
          </div>
          <div class="card-box">
            <h4 class="card-title pb-3 mbr-fonts-style display-7">
              Streamer 1
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Information about the stream
            </p>
          </div>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-wrapper">
          <div class="card-img">
            <img src="../../assets/img/video.jpg">
          </div>
          <div class="card-box ">
            <h4 class="card-title pb-3 mbr-fonts-style display-7">
              Streamer 2
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Information about the stream
            </p>
          </div>
        </div>
      </div>

      <div class="card p-3 col-12 col-md-6 col-lg-4">
        <div class="card-wrapper">
          <div class="card-img">
            <img src="../../assets/img/video.jpg">
          </div>
          <div class="card-box">
            <h4 class="card-title pb-3 mbr-fonts-style display-7">
              Streamer 3
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Information about the stream
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
